In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = (SparkSession.builder
         .appName("CleanData")
         .getOrCreate())

In [15]:
df = spark.read.csv("pokemon_base_data.csv")

In [16]:
df.show()

+-----+----------+-------------+
|  _c0|       _c1|          _c2|
+-----+----------+-------------+
|Index|      Name|         Type|
|    1| bulbasaur| grass poison|
|    2|   ivysaur| grass poison|
|    3|  venusaur| grass poison|
|    4|charmander|         fire|
|    5|charmeleon|         fire|
|    6| charizard|  fire flying|
|    7|  squirtle|        water|
|    8| wartortle|        water|
|    9| blastoise|        water|
|   10|  caterpie|          bug|
|   11|   metapod|          bug|
|   12|butterfree|   bug flying|
|   13|    weedle|   bug poison|
|   14|    kakuna|   bug poison|
|   15|  beedrill|   bug poison|
|   16|    pidgey|normal flying|
|   17| pidgeotto|normal flying|
|   18|   pidgeot|normal flying|
|   19|   rattata|       normal|
+-----+----------+-------------+

In [17]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [18]:
df = df.withColumnRenamed("_c0","Index")
df = df.withColumnRenamed("_c1","Name") 
df = df.withColumnRenamed("_c2","Type")

In [19]:
df.show()

+-----+----------+-------------+
|Index|      Name|         Type|
+-----+----------+-------------+
|Index|      Name|         Type|
|    1| bulbasaur| grass poison|
|    2|   ivysaur| grass poison|
|    3|  venusaur| grass poison|
|    4|charmander|         fire|
|    5|charmeleon|         fire|
|    6| charizard|  fire flying|
|    7|  squirtle|        water|
|    8| wartortle|        water|
|    9| blastoise|        water|
|   10|  caterpie|          bug|
|   11|   metapod|          bug|
|   12|butterfree|   bug flying|
|   13|    weedle|   bug poison|
|   14|    kakuna|   bug poison|
|   15|  beedrill|   bug poison|
|   16|    pidgey|normal flying|
|   17| pidgeotto|normal flying|
|   18|   pidgeot|normal flying|
|   19|   rattata|       normal|
+-----+----------+-------------+

Splitting the type column

In [24]:

from pyspark.sql.functions import split

#split the values column based on the space delimiter
split_col = split(df['type'], ' ')

#adding the split columns to the data frame
df = df.withColumn('Type1', split_col.getItem(0))
df = df.withColumn('Type2', split_col.getItem(1))

In [25]:
df.show()

+-----+----------+-------------+------+------+
|Index|      Name|         Type| Type1| Type2|
+-----+----------+-------------+------+------+
|Index|      Name|         Type|  Type|  NULL|
|    1| bulbasaur| grass poison| grass|poison|
|    2|   ivysaur| grass poison| grass|poison|
|    3|  venusaur| grass poison| grass|poison|
|    4|charmander|         fire|  fire|  NULL|
|    5|charmeleon|         fire|  fire|  NULL|
|    6| charizard|  fire flying|  fire|flying|
|    7|  squirtle|        water| water|  NULL|
|    8| wartortle|        water| water|  NULL|
|    9| blastoise|        water| water|  NULL|
|   10|  caterpie|          bug|   bug|  NULL|
|   11|   metapod|          bug|   bug|  NULL|
|   12|butterfree|   bug flying|   bug|flying|
|   13|    weedle|   bug poison|   bug|poison|
|   14|    kakuna|   bug poison|   bug|poison|
|   15|  beedrill|   bug poison|   bug|poison|
|   16|    pidgey|normal flying|normal|flying|
|   17| pidgeotto|normal flying|normal|flying|
|   18|   pidgeot|normal flying|normal|flying|
|   19|   rattata|       normal|normal|  NULL|
+-----+----------+-------------+------+------+

In [28]:
df2 = spark.read.csv("pokemon_stats_data.csv")

In [29]:
df2.show()

+-----+---+-----+-------+------+-------+-------+
|  _c0|_c1|  _c2|    _c3|   _c4|    _c5|    _c6|
+-----+---+-----+-------+------+-------+-------+
|Index| hp|speed|defense|attack|Sp. Atk|Sp. Def|
|    1| 45|   49|     49|    65|     65|     45|
|    2| 60|   62|     63|    80|     80|     60|
|    3| 80|   82|     83|   100|    100|     80|
|    4| 39|   52|     43|    60|     50|     65|
|    5| 58|   64|     58|    80|     65|     80|
|    6| 78|   84|     78|   109|     85|    100|
|    7| 44|   48|     65|    50|     64|     43|
|    8| 59|   63|     80|    65|     80|     58|
|    9| 79|   83|    100|    85|    105|     78|
|   10| 45|   30|     35|    20|     20|     45|
|   11| 50|   20|     55|    25|     25|     30|
|   12| 60|   45|     50|    90|     80|     70|
|   13| 40|   35|     30|    20|     20|     50|
|   14| 45|   25|     50|    25|     25|     35|
|   15| 65|   90|     40|    45|     80|     75|
|   16| 40|   45|     40|    35|     35|     56|
|   17| 63|   60|     55|    50|     50|     71|
|   18| 83|   80|     75|    70|     70|    101|
|   19| 30|   56|     35|    25|     35|     72|
+-----+---+-----+-------+------+-------+-------+

In [30]:
df2 = df2.withColumnRenamed("_c0","Index")
df2 = df2.withColumnRenamed("_c1","Hp") 
df2 = df2.withColumnRenamed("_c2","Speed")
df2 = df2.withColumnRenamed("_c3","Defence") 
df2 = df2.withColumnRenamed("_c4","Attack")
df2 = df2.withColumnRenamed("_c5","Sp. Attack") 
df2 = df2.withColumnRenamed("_c6","Sp. Defence")

In [31]:
df2.show()

+-----+---+-----+-------+------+----------+-----------+
|Index| Hp|Speed|Defence|Attack|Sp. Attack|Sp. Defence|
+-----+---+-----+-------+------+----------+-----------+
|Index| hp|speed|defense|attack|   Sp. Atk|    Sp. Def|
|    1| 45|   49|     49|    65|        65|         45|
|    2| 60|   62|     63|    80|        80|         60|
|    3| 80|   82|     83|   100|       100|         80|
|    4| 39|   52|     43|    60|        50|         65|
|    5| 58|   64|     58|    80|        65|         80|
|    6| 78|   84|     78|   109|        85|        100|
|    7| 44|   48|     65|    50|        64|         43|
|    8| 59|   63|     80|    65|        80|         58|
|    9| 79|   83|    100|    85|       105|         78|
|   10| 45|   30|     35|    20|        20|         45|
|   11| 50|   20|     55|    25|        25|         30|
|   12| 60|   45|     50|    90|        80|         70|
|   13| 40|   35|     30|    20|        20|         50|
|   14| 45|   25|     50|    25|        25|         35|
|   15| 65|   90|     40|    45|        80|         75|
|   16| 40|   45|     40|    35|        35|         56|
|   17| 63|   60|     55|    50|        50|         71|
|   18| 83|   80|     75|    70|        70|        101|
|   19| 30|   56|     35|    25|        35|         72|
+-----+---+-----+-------+------+----------+-----------+